@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

html {
    scroll-behavior: smooth;
}

button,
input,
select,
textarea {
    transition: all .15s ease;
}

.hidden {
    display: none;
}

.animate-fadeIn {
    animation: fadeIn 0.25s ease-out;
}


/* Gaya umum */
body {
    font-family: "Inter", sans-serif;
    scroll-behavior: smooth;
}

table th,
table td {
    padding: 10px;
}

table tr:hover {
    background-color: #f9fafb;
    transition: all 0.2s ease;
}

/* animasi hover di kartu menu */
#menu-list div:hover {
    transform: translateY(-3px);
    transition: all 0.25s ease;
}